$backgroundblue: #4884C4;
$yellowporccionne: #ecda2c;
$redporccionne: #E86464;
$darkerred: #d05a5a;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    background: $backgroundblue;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

textarea {
    resize: none;
    outline: none;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 10px;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.clicavel {
    cursor: pointer;
}

.header {
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        max-width: 100%;
    }

    .subtitulo {
        margin-top: 20px;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .descricao {
        max-width: 654px;
        margin: 0 30px;
        margin-bottom: 30px;
        padding: 10px;
            
        border: 1px solid;
        border-radius: 10px;
    
    }
    
    .formulario {
        max-width: 654px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        min-height: 280px;
        @media (max-width: 700px) {
            
            textarea {
                margin: 0 10px;
                min-height: 300px;
            }
            .rendimento {
                margin: 0 10px;
                min-height: 280px;
                margin-top: 20px;
            }
        }

        @media (max-width: 609px) {
            justify-content: center;
        }

        textarea {
            min-height: 100%;
        }
        
        .rendimento {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .div-rende {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

            }
        }

        .rendimento input {
            width: 170px;
            height: 45px;
            outline: none;
            border-radius: 10px;
            border: 1px solid #EEE;
            font-size: 18px;
            text-align: center;
        
        }

        .porccionar {
            width: 240px;
            height: 60px;

            background: url(./img/logoButton.svg) no-repeat center;
            background-color: $redporccionne;
            color: $yellowporccionne;
            font-size: 28px;
            border-radius: 10px;
            border: none;
        }

        .porccionar:hover {
            background-color: $darkerred;
        }
    }

    .resultado-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-top: 50px;
            font-size: 2em;
            font-weight: 400;
            text-align: center;
            color: $yellowporccionne;
        }

        .resultado {
            margin: 30px 10px;

            min-width: 350px;
            min-height: 50px;
            max-width: 500px;
            background-color: $yellowporccionne;
            border-radius: 20px;

            color: #000;
            text-align: center;

            padding: 20px;
        }
    }
}

.footer {
    width: 100%;
    height: 40px;
    color: #000;
    
    bottom: 0;
    text-align: center;

    background-color: $yellowporccionne;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container2 {
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card {
            width: 250px;
            height: 350px;
            margin: 10px;
    
            border: 1px solid white;
            border-radius: 10px;
        }
    }
}