$backgroundblue: #4884C4;
$yellowporccionne: #ecda2c;
$redporccionne: #E86464;
$darkerred: #d05a5a;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    background: $backgroundblue;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

textarea {
    resize: none;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    outline: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        margin: 20px;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            max-width: 100%;
        }

        .subtitulo {
            margin-top: 30px;
            font-size: 2em;
            font-weight: 400;
        }
    }
    .formulario1 {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        
        p{
            max-width: 280px;
            margin: 0 30px;
            margin-bottom: 30px;
            padding: 10px;
            
            border: 1px solid;
            border-radius: 10px;
            
            
        }

        .textarea-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media (max-width:628px) {
                align-items: center;    
            }

            textarea {
                height: 300px;
            }

            .continuar {
                width: 105px;
                height: 45px;
                margin-top: 45px;

                background-color: #FFF;
                font-size: 18px;
                border-radius: 10px;
                border: none;
                cursor: pointer;

                transition-duration: 0.4s;

            }

            .continuar:hover {
                background-color: $yellowporccionne;
            }
        }
    }

    .formulario2 {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        input {
            height: 45px;
            outline: none;
            border-radius: 10px;
            border: 1px solid #EEE;
            margin: 5px;
            font-size: 18px;
            text-align: center;
        }

        .linha-receita {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .rendimento {
            display: flex;
            flex-direction: column;

            label {
                margin-top: 25px;
            }
        }

        .rendimento input {
            width: 170px;
        }

        .porccionar {
            width: 280px;
            height: 70px;
            margin-top: 45px;

            background: url(./img/logoButton.svg) no-repeat center;
            background-color: $redporccionne;
            color: $yellowporccionne;
            font-size: 28px;
            border-radius: 10px;
            border: none;
        }

        .porccionar:hover {
            background-color: $darkerred;
        }
    }
}

.footer {
    width: 100%;
    height: 40px;
    color: #000;
    
    bottom: 0;
    text-align: center;

    background-color: $yellowporccionne;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}